.header {
	border-bottom: 1px solid gray;
	padding: 10px 0;
	&__content {
		align-items: center;
	}
	&__logo {
		font-size: 20px;
		font-weight: 700;
	}
	&__right {
		gap: 30px;
		align-items: center;
	}
	&__cart {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
	}
	&__cart-num {
		position: absolute;
		z-index: 2;
		top: 20%;
		font-size: 10px;
	}
	&__cart-svg {
		width: 24px;
		height: 24px;
	}
	&__admin-btn {
		background: $black;
		color: $white;
		&:hover {
			background: $pink;
			color: $white;
		}
	}
}
